*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: zhina;
    src: url(font/Ordibehesht/Ordibehesht.TTF);
}

.content{
    width: 800px;
    height: 500px;
    background-color: aqua; 
    box-shadow: 0 0 30px darkgray;
    border-radius: 10px;
    overflow: hidden;
    margin: 100px auto;
}


.left{
    width: 400px;
    height: 500px;
    background-color: white;
    text-align: center;
    padding-top: 60px;
}


.right{
    width: 400px;
    height: 500px;
    background-image : linear-gradient( to right, #ff464c, #ff416b);
    position: relative;
    left: 400px;
    bottom: 500px;
}


form{
    text-align: center;
    padding: 0px 40px;
}


.main{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    
}
.be{
    display: inline-block;
    margin: 10px;
    border: 2px  solid lightgrey;
padding: 10px;
border-radius: 50%;

}

.si{
    font-size: 40px;
    font-weight: bold;
    font-family: zhina;
    
}
.one{
    font-size: 15px;
    color: gray;
    margin-top: 10px;
}


.inp-form{
    width: 80%;
    height: 30px;
    border: 0px;
    margin: 10px;
    background-color:#eeeeee;
    padding: 5px 10px;

}


.forgot{
    color: lightslategrey;
    margin-top: 15px;
}


.btn-sign{
    padding: 10px 40px;
    background-color: #ff4b2b;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    margin-top: 20px;
    transition: all 3s;
}


.title-one{
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: zhina;

}

.right{
    text-align: center;
    padding: 100px 80px;
}
.tit-two{
    margin-top: 40px;
    color: white;
    font-weight: bold;
    font-family: zhina;
}

.btn-open{
    padding: 10px 50px;
    margin-top: 150px;
background: none;
color: white;
font-weight: bold;
border: 1px solid white;
border-radius: 20px;
transition: all 2s;

}

.btn-sign:hover{
    box-shadow: 0px 0px 20px #ff362b;
}

.btn-sign:active{
    box-shadow: 0px 0px 20px gray;
    transform: scaleX(2);
}


.btn-open:hover{
    box-shadow: 0 0 20px gray;
    transform: scale(2);
}